[submodule "extensions\\sd-steps2ndi.git"]
	path = sd-steps2ndi
	url = git@github.com:moostrik/sd-steps2ndi.git
[submodule "extensions\\sd-webui-controlnet.git"]
	path = sd-webui-controlnet
	url = git@github.com:Mikubill/sd-webui-controlnet.git
[submodule "extensions\\sd-dynamic-prompts.git"]
	path = sd-dynamic-prompts
	url = git@github.com:adieyal/sd-dynamic-prompts.git
